.field.pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field.confirmPass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}